:root {
  --body-bg: #d4d8db;
  --task-bg: #bfd9ec;
  --base-text-color: #212529;
  --header-bg: #007bff;
  --header-text-color: #fff;
  --default-btn-bg: #007bff;
  --default-btn-text-color: #fff;
  --default-btn-hover-bg: #0069d9;
  --default-btn-border-color: #0069d9;
  --danger-btn-bg: #dc3545;
  --danger-btn-text-color: #fff;
  --danger-btn-hover-bg: #bd2130;
  --danger-btn-border-color: #dc3545;
  --input-border-color: #ced4da;
  --input-bg-color: #fff;
  --input-text-color: #495057;
  --input-focus-bg-color: #fff;
  --input-focus-text-color: #495057;
  --input-focus-border-color: #80bdff;
  --input-focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

body {
  color: var(--base-text-color);
  background-color: var(--body-bg);
}

.navbar {
  background: var(--header-bg);
  display: flex;
  min-height: 40px;
  justify-content: space-around;
  align-items: center;
}

.header .navbar-brand {
  color: var(--header-text-color);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.card {
  background-color: #fff;
  padding: 10px;
}

.addTask {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-control {
  margin-bottom: 15px;
  width: 290px;
  height: 30px;
}

.list-group {
  padding: 0;
}

.list-group-item {
  list-style: none;
  background-color: var(--task-bg);
  margin-bottom: 20px;
  padding: 10px;
}

.delete-btn {
  display: block;
  margin: 0 auto;
}

.btn-primary {
  color: var(--default-btn-text-color);
  background-color: var(--default-btn-bg);
  border-color: var(--default-btn-border-color);
}

.btn-danger {
  color: var(--danger-btn-text-color);
  background-color: var(--danger-btn-bg);
  border-color: var(--danger-btn-border-color);
}

.form-control {
  background: var(--input-bg-color);
  border-color: var(--input-border-color);
  color: var(--input-text-color);
}

.form-control:focus {
  color: var(--input-focus-text-color);
  background-color: var(--input-focus-bg-color);
  border-color: var(--input-focus-border-color);
  box-shadow: var(--input-focus-box-shadow);
}
